<ion-content>
  <ion-toolbar>
    <ion-segment value="resources">
      <ion-segment-button value="resources">Resources</ion-segment-button>
      <ion-segment-button value="player">Player</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>Fae-Way Proclaims</ion-card-header>
    <ion-card-content>
      This of this as 'Home'. A Grid of quick-actions (for all unlocked features)& some quick-look stats is envisioned here.
    </ion-card-content>
  </ion-card>
  <cvi-item-progress-bar *ngFor="let res of gds.GetAllKnownResources()" [action]="''" [item]="res"
                         [totalHeld]="gds.GetResourceValue(res)">
  </cvi-item-progress-bar>
</ion-content>

