<ion-card>
  <ion-card-header>Explore for new Areas in the {{this.baseLocation.name}}.</ion-card-header>
  <cvi-unlock-new-item *ngIf="!gds.FoundAllSubLocations(this.baseLocation)"
                       [item]="this.weakSpiritHerb"
                       [isRandomItemFromBase]="false"
                       [baseLocation]="this.baseLocation"
  ></cvi-unlock-new-item>
  <ion-card color="medium" *ngIf="gds.FoundAllSubLocations(this.baseLocation)">
    <ion-card-header>All locations discovered</ion-card-header>
  </ion-card>
</ion-card>
<ion-card>
  <ion-card *ngIf="!this.gds.wandererLocationToSearchForNewHerbs" color="medium">
    <ion-card-header>No location to wander in selected...</ion-card-header>
  </ion-card>
  <ion-card-header>Wandering in...</ion-card-header>
  <ion-card-content>
    <ion-select
      [(ngModel)]="this.gds.wandererLocationToSearchForNewHerbs"
      placeholder="Select Location" interface="popover">
      <ion-select-option
        *ngFor="let loc of this.gds.GetKnowLocationsFromBase(this.baseLocation)"
        [value]="loc">{{loc.name}}</ion-select-option>
    </ion-select>
    <cvi-unlock-new-item
      *ngIf="this.showSearchForHerbs()"
      [item]="this.weakSpiritHerb"
      [isRandomItemFromBase]="true"
      [baseLocation]="this.gds.wandererLocationToSearchForNewHerbs"
      [actionName]="'Hunt For Herbs'"
    ></cvi-unlock-new-item>
    <ion-card *ngIf="!showSearchForHerbs() && this.gds.IsBaseItemKnown(this.weakSpiritHerb)" color="medium">
      <ion-card-header>All Items Discovered</ion-card-header>
    </ion-card>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="knowAboutHerbs()">
  <ion-card-header>Gather Herbs</ion-card-header>
  <ion-select [(ngModel)]="this.gds.wandererHerbCurrentlyBeingGathered"
              placeholder="Which herb?" interface="popover" >
    <ion-select-option
      *ngFor="let herb of this.possibleHerbs" [value]="herb">{{herb.displayName}}
    </ion-select-option>

  </ion-select>
  <ion-button *ngIf="this.gds.wandererHerbCurrentlyBeingGathered !== undefined"
              fill="outline"
              expand="full"
              (click)="startGathering()"
  >
    Gather {{this.gds.wandererHerbCurrentlyBeingGathered.displayName}}</ion-button>
  <cvi-item-progress-bar *ngIf="this.gds.wandererHerbCurrentlyBeingGathered !== undefined"
                         [item]="this.gds.wandererHerbCurrentlyBeingGathered"
                         [totalHeld]="this.gds.GetResourceValue(this.gds.wandererHerbCurrentlyBeingGathered)"
                         [action]="'Gathering...'"
                         [displayItemsPerSec]="false"
  ></cvi-item-progress-bar>
</ion-card>
