<ion-card>
  <ion-card-header>Go Wandering...</ion-card-header>
</ion-card>
<ion-card>
  <ion-card *ngIf="!selectedLocation" color="medium">
    <ion-card-header>No location to wander in selected...</ion-card-header>
  </ion-card>
  <ion-card-header>Wandering in...</ion-card-header>
  <ion-card-content>
    <ion-select [(ngModel)]="selectedLocationName" (ionChange)="this.updateSelectionLocation()"
                [hidden]="hideLocationSelect" placeholder="Select Location" interface="popover">
      <ion-select-option *ngFor="let loc of this.gds.GetKnowLocationsFromBase(this.baseLocation)">{{loc.name}}</ion-select-option>
    </ion-select>
  </ion-card-content>
</ion-card>
<cvi-unlock-new-item
  *ngIf="this.showSearchForHerbs()"
  [item]="this.weakSpiritHerb"
  [GenerateRandomItemFromBase]="true"
  [location]="this.selectedLocation"
  [actionName]="'Hunt For Herbs'"
></cvi-unlock-new-item>

<ion-card *ngIf="knowAboutHerbs()">
  <ion-card-header>Gather Herbs</ion-card-header>
  <ion-select [(ngModel)]="selectedHerbName" (ionChange)="herbSelectionChanged()"
              placeholder="Which herb?" interface="popover">
    <ion-select-option *ngFor="let herb of this.possibleHerbs">{{herb.displayName}}</ion-select-option>
  </ion-select>
  <ion-button fill="outline" expand="full">GATHER</ion-button>
  <ion-progress-bar value="0.4"></ion-progress-bar>
</ion-card>
