<ion-card>
  <ion-card-header>Explore for new Areas in the {{this.baseLocation.name}}.</ion-card-header>
  <cvi-unlock-new-item *ngIf="!gds.FoundAllSubLocations(this.baseLocation)"
                       [item]="this.weakSpiritHerb"
                       [isLocationUnlock]="true"
                       [generateRandomItemFromBase]="false"
                       [baseLocation]="this.baseLocation"
  ></cvi-unlock-new-item>
  <ion-card color="medium" *ngIf="gds.FoundAllSubLocations(this.baseLocation)">
    <ion-card-header>All locations discovered</ion-card-header>
  </ion-card>
</ion-card>
<ion-card>
  <ion-card *ngIf="!selectedLocation" color="medium">
    <ion-card-header>No location to wander in selected...</ion-card-header>
  </ion-card>
  <ion-card-header>Wandering in...</ion-card-header>
  <ion-card-content>
    <ion-select [(ngModel)]="selectedLocationName" (ionChange)="this.updateSelectionLocation()"
                [hidden]="hideLocationSelect" placeholder="Select Location" interface="popover">
      <ion-select-option
        *ngFor="let loc of this.gds.GetKnowLocationsFromBase(this.baseLocation)">{{loc.name}}</ion-select-option>
    </ion-select>
    <cvi-unlock-new-item
      *ngIf="this.showSearchForHerbs()"
      [item]="this.weakSpiritHerb"
      [generateRandomItemFromBase]="true"
      [baseLocation]="this.selectedLocation"
      [actionName]="'Hunt For Herbs'"
    ></cvi-unlock-new-item>
    <ion-card *ngIf="!showSearchForHerbs() && this.gds.IsBaseItemKnown(this.weakSpiritHerb)" color="medium">
      <ion-card-header>All Items Discovered</ion-card-header>
    </ion-card>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="knowAboutHerbs()">
  <ion-card-header>Gather Herbs</ion-card-header>
  <ion-select [(ngModel)]="selectedHerbName" (ionChange)="herbSelectionChanged()"
              placeholder="Which herb?" interface="popover">
    <ion-select-option *ngFor="let herb of this.possibleHerbs">{{herb.displayName}}</ion-select-option>

  </ion-select>
  <ion-button *ngIf="this.selectedHerb !== undefined"
              fill="outline"
              expand="full"
              (click)="startGathering()"
  >
    Gather {{this.selectedHerb.displayName}}</ion-button>
  <cvi-item-progress-bar *ngIf="this.selectedHerb !== undefined"
                         [item]="this.selectedHerb"
                         [totalHeld]="this.gds.GetResourceValue(this.selectedHerb)"
                         [action]="'Gathering...'"
                         [displayItemsPerSec]="false"
  ></cvi-item-progress-bar>
</ion-card>
