<ion-toolbar class="slim-toolbar">
  <ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>
  <ion-button slot="end" fill="outline" (click)="showThemeSelect()">
    <ion-icon name="contrast"></ion-icon>
  </ion-button>
  <ion-item slot="end">Autosave In: {{this.gds.TimeTilAutosave()}}</ion-item>
  <ion-button slot="end" fill="outline" disabled="true"><ion-icon name="help"></ion-icon></ion-button>
  <ion-title>Cultivation Idle</ion-title>
</ion-toolbar>

<ion-split-pane contentId="main" when="sm" class="top-margin">
  <ion-menu side="start" type="push" content-id="main">
    <ion-content>
      <ion-list>
        <ion-item *ngIf="true" routerLink="overview">Overview</ion-item>
        <ion-item routerLink="resources">Resources</ion-item>
        <ion-item routerLink="locations">Locations</ion-item>
        <ion-item *ngIf="gds.canWander" routerLink="wanderer">Wander</ion-item>
        <ion-item *ngIf="gds.canAdventure">Adventure</ion-item>
        <ion-item *ngIf="gds.canCultivate">Cultivation</ion-item>
        <ion-item *ngIf="gds.canRanch">Ranch</ion-item>
        <ion-item *ngIf="gds.canFarm">Farm</ion-item>
        <ion-item *ngIf="gds.canTend">Tending</ion-item>
        <ion-item *ngIf="gds.canSmith">Smithing</ion-item>
        <ion-item *ngIf="gds.canRefine">Refining</ion-item>
        <ion-item routerLink="settings">Settings</ion-item>
        <ion-item routerLink="built-with">Acknowledgements</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>

<ion-select
  [(ngModel)]="selectTheme" (ionChange)="dynamicTheme()" #themeSelect [hidden]="hideList">
  <ion-select-option [value]="theme.class" *ngFor="let theme of themeColor;">
    {{theme.name}}
  </ion-select-option>
</ion-select>
