<ion-content>
  <ion-card>
    <ion-card-header>Built With</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://github.com/Patashu/break_eternity.js" target="_blank">
          Break Eternity JS
        </ion-item>
        <ion-item href="https://ionicframework.com" target="_blank">
          Ionic Framework
        </ion-item>
        <ion-item href="https://angular.io/" target="_blank">
          Angular
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
